$header-background: #372938;
$code-background: #140514;
$console-background: #28162D;
$console-text-color: #F1F1F1;
$console-toolbar-background: $header-background;
$console-toolbar-text-background: #fff;
$tab-background: #270528;
$current-tab-background: #241927;
$tab-text-color: #FFF;
$current-tab-text-color: #FFC857;

$header-height: 70px;
$console-toolbar-height: 50px;

$console-font-family: Menlo, Consolas, 'Courier New', monospace;