$header-background: #4e0250;
$code-background: #140514;
$console-background: #8c1a6a;
$console-toolbar-background: #571145;
$console-toolbar-text-background: #fff;
$tab-background: #270528;
$current-tab-background: $tab-background;
$tab-text-color: #FFF;
$current-tab-text-color: #FFC857;

$header-height: 70px;
$console-toolbar-height: 50px;

$console-font-family: Menlo, Consolas, 'Courier New', monospace;